.App {
  margin-bottom: 15px;
}

.App__sidebar {
  margin-top: 10px;
  margin-bottom: 15px;
}

.App__content {
  border-color: black;
  border-width: 1px;
  border-top-style: solid;
  border-left-style: none;
}

@media (min-width: 992px) {
  .App__content {
    border-top-style: none;
    border-left-style: solid;
  }
}
