[tooltip] {
  position: relative;
  display: inline-block;
}

[tooltip]::before {
  content: "";
  display: none;
  position: absolute;
  top: 100%;
  left: 80%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(-100%) rotate(-180deg);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
  z-index: 100;
}

[tooltip]::after {
  content: attr(tooltip);
  display: none;
  position: absolute;
  left: 80%;
  top: 100%;
  transform: translateX(-20%) translateY(0%);
  margin-top: 8px;
  background: white;
  border: 1px solid rgba(0,0,0,0.5);
  text-align: center;
  color: black;
  padding:8px 10px;
  font-size: 12px;
  min-width: 180px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 100;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  display: block;
}